*
{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body
{
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  text-align: center;
  padding-bottom: 35px;
}

.board {
  display: grid;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: blanchedalmond;
  height: 400px;
  width: 1600px;
  align-items: center;
  border-radius: 5px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 15px; 
}

.board div {
  height: 150px;
  width: 100px;
}

h3 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.taş {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100px;
  height: 150px;
  padding: 2px 16px;
  border-radius: 7px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: white;
  padding-bottom: 0px;
}

.taş:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.gelen-taş-yeri,
.giden-taş-yeri,
.orta-taş-yeri,
.taş-yeri {
  border-style: dashed;
  border-radius: 15%;
  width: 100px;
  height: 150px;
}

.drag-over {
  border: dashed 3px red;
}

.kırmızı {
  color: rgba(255, 0, 0, 0.75);
}

.sarı {
  color: rgba(255, 166, 0, 0.75);
}

.siyah {
  color: rgba(0, 0, 0, 0.75);
}

.mavi {
  color: rgba(0, 38, 255, 0.60);
}

.yeşil {
  color: rgba(0, 128, 0, 0.75);
}

.gizle {
  color: white;
}

.con-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.con-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 250px;
  align-items: center;
  align-content: center;
  padding: 50px;
}

.gösterge {
  cursor: not-allowed;
}

.elleme {
  cursor: not-allowed;
}

.beyaz {
  color: white;
}

.isim-al {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.inputform {
  width: 100%;
  height: 50px;
  padding: 55px;
  font-size: xx-large;
  font-weight: 550;
  margin-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.devambuton {
  height: 50px;
  width: 100%;
  font-size: larger;
  font-weight: bolder;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.onlineliste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.oyunculistesi {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-size: xx-large;
  align-items: center;
}

.yoket {
  display: none;
}

.görünmez {
  visibility: hidden;
}

.info-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  padding: 50px;
}

